body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;

}

header {
    background-color: #0057a7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

main h2 {
    color: #0057a7;
    border-bottom: 2px solid #0057a7;
    padding-bottom: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
    
}

input[type="textbox"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #0057a7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #004080;
}

p {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0057a7;
    color: white;
    margin-top: 20px;
}
.emoji-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emoji-options label {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.emoji-options input[type="radio"] {
    display: none;
}

.emoji-options span {
    font-size: 2rem; /* Ajusta el tamaño del emoji */
    padding: 10px;
    transition: transform 0.1s;
}

/* Efecto al seleccionar */
.emoji-options input[type="radio"]:checked + span {
    transform: scale(1.5); /* Aumenta el tamaño del emoji seleccionado */
    background-color: #f0f0f0; /* Cambia el fondo cuando se selecciona */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al emoji seleccionado */
}

/* Efecto al hacer hover (pasar el mouse) */
.emoji-options label:hover span {
    transform: scale(1.2); /* Aumenta el tamaño al hacer hover */
    background-color: #e0e0e0; /* Cambia el fondo al pasar el mouse */
}

